# Analisi diffusione COVID-19 nel mondo

## Richieste:

    - Verificare le dimensioni del dataset e le diciture presenti nell'intestazione
    - Per ogni continente trovare il numero di casi totali avvenuti in quello stesso continente; si chiede di non considerare eventuali locazioni che nel dataset non appartengono a nessun continente.
    - Sviluppare una funzione che prenda in input il dataset e due nomi di continenti, e che ne confronti i seguenti relativi descrittori: minimo, massimo, media, percentuale rispetto al numero totale dei casi nel mondo
    - Stesso tipo di analisi per i vaccini
    - Confronto tra Europa, Sud America e Oceania

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("owid-covid-data.csv") #lettura del dataset e creazione del dataframe

C:\Users\marac\AppData\Local\Temp\ipykernel_7068\3678369394.py:1: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("owid-covid-data.csv") #lettura del dataset e creazione del dataframe

# Esplorazione del dataset

In [3]:
df.dtypes

iso_code                                    object
continent                                   object
location                                    object
date                                        object
total_cases                                float64
                                            ...
population                                 float64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
Length: 67, dtype: object

In [4]:
print("Il dataset è composto da {} righe e {} colonne".format(df.shape[0], df.shape[1]))

Il dataset è composto da 311417 righe e 67 colonne

In [5]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [6]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [7]:
df.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
311412,ZWE,Africa,Zimbabwe,2023-05-13,264821.0,5.0,10.286,5690.0,1.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311413,ZWE,Africa,Zimbabwe,2023-05-14,264841.0,20.0,10.714,5690.0,0.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311414,ZWE,Africa,Zimbabwe,2023-05-15,264848.0,7.0,10.286,5690.0,0.0,0.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311415,ZWE,Africa,Zimbabwe,2023-05-16,264848.0,0.0,9.429,5690.0,0.0,0.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311416,ZWE,Africa,Zimbabwe,2023-05-17,264848.0,0.0,8.143,5690.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [8]:
#considerando la richiesta, ho deciso di creare un dataset di dimensione ridotta che contenga solo le colonne potenzialmente utili ai fine dell'analisi richiesta
df2 = df.loc[:,["continent","location", "date", 
                "total_cases", "new_cases", "total_deaths", "new_deaths", "total_vaccinations",
                "people_vaccinated", "people_fully_vaccinated", "total_boosters","new_vaccinations", 
                "population"]]
#dataframe in cui sono state rimosse le righe che non riportavano valori nella colonna continenti
dfnotnull= df2[df2.continent.notnull()]
dfnotnull

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,population
0,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,41128772.0
1,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,41128772.0
2,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,41128772.0
3,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,41128772.0
4,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,41128772.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
311412,Africa,Zimbabwe,2023-05-13,264821.0,5.0,5690.0,1.0,NaN,NaN,NaN,NaN,NaN,16320539.0
311413,Africa,Zimbabwe,2023-05-14,264841.0,20.0,5690.0,0.0,NaN,NaN,NaN,NaN,NaN,16320539.0
311414,Africa,Zimbabwe,2023-05-15,264848.0,7.0,5690.0,0.0,NaN,NaN,NaN,NaN,NaN,16320539.0
311415,Africa,Zimbabwe,2023-05-16,264848.0,0.0,5690.0,0.0,NaN,NaN,NaN,NaN,NaN,16320539.0
311416,Africa,Zimbabwe,2023-05-17,264848.0,0.0,5690.0,0.0,NaN,NaN,NaN,NaN,NaN,16320539.0

#### Numero di casi per continente

In [20]:
#Usata la colonna new_cases in quanto indica il dato "nuovi casi" per data, la colonna total_cases sembrerebbe invece un campo cumulativo.

continenti = dfnotnull.groupby("continent")
continenti["new_cases"].sum()

continent
Africa            13088991.0
Asia             297234406.0
Europe           249319188.0
North America    124175560.0
Oceania           14073975.0
South America     68568119.0
Name: new_cases, dtype: float64

### Comparazione tra continenti

In [11]:
def comparazione_casi(df,continente1,continente2):
    """
    La funzione permette di mettere a confronto la diffusione del COVID-19 tra due continenti scelti dall'utente
    
    """
    casi_totali_mondo = df.new_cases.sum()
    continenti = set(df.continent)
    
    for continente in continenti:
        condizione1 = df.continent == continente1
        condizione2 = df.continent == continente2
        percentuale_vs_mondo1 = round(df.loc[condizione1, "new_cases"].sum()/casi_totali_mondo*100,2)
        percentuale_vs_mondo2 = round(df.loc[condizione2, "new_cases"].sum()/casi_totali_mondo*100,2)
        casi_giornalieri_medi1 = round(df.loc[condizione1, "new_cases"].mean(),2)
        casi_giornalieri_medi2 = round(df.loc[condizione2, "new_cases"].mean(),2)
        casi_minimi1 = df.loc[condizione1, "new_cases"].min()
        casi_minimi2 = df.loc[condizione2, "new_cases"].min()
        casi_massimi1 = df.loc[condizione1, "new_cases"].max()
        casi_massimi2 = df.loc[condizione2, "new_cases"].max()
    data = {
        "% casi vs mondo": [percentuale_vs_mondo1, percentuale_vs_mondo2],
        "casi minimi": [casi_minimi1, casi_minimi2],
        "casi massimi": [casi_massimi1, casi_massimi2],
        "casi giornalieri medi":[casi_giornalieri_medi1, casi_giornalieri_medi2]}
    risultato = pd.DataFrame(data, index=[continente1, continente2])
    return risultato

In [12]:
#dataframe senza i valori nulli sotto continente: dato che le location che non ripotavano il continente corrispondevano a dati cumulativi o identificativi non meglio specificati
comparazione_casi(dfnotnull,"Africa","South America")

,% casi vs mondo,casi minimi,casi massimi,casi giornalieri medi
Africa,1.71,0.0,46914.0,186.57
South America,8.95,0.0,298408.0,3983.28

In [13]:
#dataframe che include i valori nulli
comparazione_casi(df2,"Africa", "South America")

,% casi vs mondo,casi minimi,casi massimi,casi giornalieri medi
Africa,0.40,0.0,46914.0,186.57
South America,2.11,0.0,298408.0,3983.28

In [14]:
def comparazione_vaccini(df,continente1,continente2):
    """
    La funzione permette di mettere a confronto le vaccinazioni contro il COVID-19 tra due continenti scelti dall'utente
    
    """
    vaccini_totali_mondo = df.new_vaccinations.sum()
    continenti = set(df.continent)
    
    for continente in continenti:
        condizione1 = df.continent == continente1
        condizione2 = df.continent == continente2
        percentuale_vs_mondo1 = round(df.loc[condizione1, "new_vaccinations"].sum()/vaccini_totali_mondo*100,2)
        percentuale_vs_mondo2 = round(df.loc[condizione2, "new_vaccinations"].sum()/vaccini_totali_mondo*100,2)
        vaccini_giornalieri_medi1 = round(df.loc[condizione1, "new_vaccinations"].mean(),2)
        vaccini_giornalieri_medi2 = round(df.loc[condizione2, "new_vaccinations"].mean(),2)
        vaccini_minimi1 = df.loc[condizione1,"new_vaccinations"].min()
        vaccini_minimi2 = df.loc[condizione2,"new_vaccinations"].min()
        vaccini_massimi1 = df.loc[condizione1,"new_vaccinations"].max()
        vaccini_massimi2 = df.loc[condizione2,"new_vaccinations"].max()
    data = {
        "% vaccini vs mondo": [percentuale_vs_mondo1, percentuale_vs_mondo2],
        "valore minimo": [vaccini_minimi1, vaccini_minimi2],
        "valore massimo": [vaccini_massimi1, vaccini_massimi2],
        "vaccini giornalieri medi":[vaccini_giornalieri_medi1, vaccini_giornalieri_medi2]}
    risultato = pd.DataFrame(data, index=[continente1, continente2])
    return risultato

In [15]:
comparazione_vaccini(dfnotnull,"Europe","Asia")

,% vaccini vs mondo,valore minimo,valore massimo,vaccini giornalieri medi
Europe,11.66,0.0,2389472.0,59979.96
Asia,69.60,0.0,24741000.0,510537.85

## Differenze tra Europa, Sud America, Oceania

In [16]:
casi_totali_mondo = dfnotnull.new_cases.sum()
vaccini_totali_mondo = dfnotnull.new_vaccinations.sum()
continenti = set(df.continent)
    
for continente in continenti:
    condizione1 = dfnotnull.continent == "Europe"
    condizione2 = dfnotnull.continent == "South America"
    condizione3 = dfnotnull.continent == "Oceania"
    percentuale_vs_mondo1 = round(dfnotnull.loc[condizione1, "new_cases"].sum()/casi_totali_mondo*100,2)
    percentuale_vs_mondo2 = round(dfnotnull.loc[condizione2, "new_cases"].sum()/casi_totali_mondo*100,2)
    percentuale_vs_mondo3 = round(dfnotnull.loc[condizione3, "new_cases"].sum()/casi_totali_mondo*100,2)
    casi_giornalieri_medi1 = round(dfnotnull.loc[condizione1, "new_cases"].mean(),2)
    casi_giornalieri_medi2 = round(dfnotnull.loc[condizione2, "new_cases"].mean(),2)
    casi_giornalieri_medi3 = round(dfnotnull.loc[condizione3, "new_cases"].mean(),2)
    vaccini_vs_mondo1 = round(dfnotnull.loc[condizione1, "new_vaccinations"].sum()/vaccini_totali_mondo*100,2)
    vaccini_vs_mondo2 = round(dfnotnull.loc[condizione2, "new_vaccinations"].sum()/vaccini_totali_mondo*100,2)
    vaccini_vs_mondo3 = round(dfnotnull.loc[condizione3, "new_vaccinations"].sum()/vaccini_totali_mondo*100,2)
    vaccini_giornalieri_medi1 = round(dfnotnull.loc[condizione1, "new_vaccinations"].mean(),2)
    vaccini_giornalieri_medi2 = round(dfnotnull.loc[condizione2, "new_vaccinations"].mean(),2)
    vaccini_giornalieri_medi3 = round(dfnotnull.loc[condizione3, "new_vaccinations"].mean(),2)
    
    
    
data = {
    "% casi vs mondo": [percentuale_vs_mondo1, percentuale_vs_mondo2, percentuale_vs_mondo3],
    "casi giornalieri medi":[casi_giornalieri_medi1, casi_giornalieri_medi2,casi_giornalieri_medi3],
    "% vaccini vs mondo": [vaccini_vs_mondo1,vaccini_vs_mondo2,vaccini_vs_mondo3],
    "vaccini giornalieri medi": [vaccini_giornalieri_medi1,vaccini_giornalieri_medi2,vaccini_giornalieri_medi3]}

risultato = pd.DataFrame(data, index=["Europe", "South America", "Oceania"])
display(risultato)

,% casi vs mondo,casi giornalieri medi,% vaccini vs mondo,vaccini giornalieri medi
Europe,32.53,3973.78,11.66,59979.96
South America,8.95,3983.28,7.77,150794.46
Oceania,1.84,476.44,0.69,56859.01

Nel confronto tra i tre continenti l'Europa detiene la percentuale più alta di casi covid rispetto al totale dei casi mondo.
I casi medi giornalieri tra Europa e Sud America differiscono solo lievemente, mentre l'Oceania ha un valore decisamente più basso.
Per quanto riguarda i vaccini, il Sud America ha una media giornaliera molto più alta, mentre Europa e Oceania sono allineate intorno al 60000 al giorno.